body {
	background-color: rgb(175, 175, 175);
	margin: 0;
	padding: 0;
}
::selection {
	color: red;
	background-color: rgba(0, 0, 0, 0.2);
}

/*			Definition-start			*/

p.definition {
	margin-bottom: 30px;
}

/*			Definition-end			*/

/*			code example-start			*/
.code-expl-div {
	background-color:#E7E9EB;
	border-radius:5px;
	padding: 0.2em 16px 1em 16px;
	margin: 20px 0;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.code-expl {
	border-left: 5px solid green;
	background-color: white;
	padding: 10px 20px 10px 10px;
	margin-top: 10px;
}

.code-result {
	background-color: white;
	height: 100px;
}
.code-result a {
	vertical-align: middle;
}

.code-result-text {
	border: 1px solid black;
}

.brackethtml {
	color: gray;
}

.tag-name  {
	color: blue;
}
.tag-atribute {
	color: rgb(71, 150, 177);
}
.tag-content{
	color: black;
}

.commentcolor {
	color: green;
}
.commentcolor p {
	color: brown;
}

.cssnamecolor, .cssfuncname-atribute {
	color: rgb(185, 133, 0);
}
.cssfuncname {
	color: rgb(61, 136, 161);
}
.cssfuncquote {
	color: brown;
}

.javascriptfunctioncolor {
	color: blue;
}
.javascriptfunctioncolor-atribute {
	color: rgb(71, 150, 177);
}
.javascriptnamecolor {
	color: rgb(185, 133, 0);
}
.javascriptvalue {
	color: yellowgreen;
}

.highlight {
	color: orangered;
}

.right {
	position: fixed;
	z-index: -1;
	top: 10px;
	left: 92%;
	background-color: #f1f1f1;
	width: 7%;
	height: 100%;
}

.right h3 {
	text-align: center;
}

/*			code example-end			*/

/*			upper nav-start			*/

nav.uppernav {
	background-color: rgb(141, 141, 141);
	text-align: right;
	padding: 10px 20px;
}

nav.uppernav a {
	text-decoration: none;
	padding-right: 10px;
}

/*			upper nav-end			*/

/*			nav list-start			*/

div nav#list ul li:first-of-type{
	text-align: center;
	padding-right: 40px;
	color:green;
}
div nav#list {
	position: relative;
	right: 214px;
	border-right: 4px black solid;
	text-align: left;
	font-size: 1.5em;
	background-color: rgb(156, 156, 156);
	display: block;
	width: 210px;
}
div nav#list div.nav-show {
	position: absolute;
	left: 210px;
	bottom: 103px;
	background-color: black;
	width: 50px;
	height: 100px;
	color: white;
	writing-mode: vertical-lr;
	cursor: pointer;
}
.nav-hide-id {
	right: 214px !important;
	
	transition: .3s ease-in;
}
.nav-show-id {
	right: 0px !important;
	
	transition: .3s ease-in;
}
div nav#list div.nav-show p {
	margin-top: 0.63em;
	margin-left: 0.5em;
	font-size: 1em;
}

div nav#list ul li a {
	text-decoration: underline;
	color: rgb(48, 48, 48);
}

div nav#list ul {
	list-style: none;
	margin-left: -25px;
}

div nav#list ul li a::before {
	background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
}

div nav#list ul li a.htmla::before{
	background-image: url(ponurakk/Script_cmd_web.v2/files/images/HTML5_logo.png);
}
div nav#list ul li a.jsa::before{
	background-image: url(/ponurakk/Script_cmd_web.v2/files/images/js-logo.png);
}
div nav#list ul li a.cssa::before{
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/CSS3-logo.png);
}
div nav#list ul li a.csharpa::before{
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/C_Sharp_logo.png);
}
div nav#list ul li a.cppa::before{
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/C++_logo.png);
}
div nav#list ul li a.pythona::before{
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Python_logo.png);
}

/*			list-end			*/

/*			table-start			*/

table, th, td {
	border: 1px black solid;
	background-color: rgb(185, 185, 185);
	border-collapse: collapse;
	box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
table.browser-support {
	width: 100%;
}
table.browser-support thead tr th:first-of-type, table.browser-support tbody tr td:first-of-type {
	text-align: left;
	padding-left: 20px;
	width: 20%;
}
th, td {
	height: 44px;
	text-align: center;
}
tr:nth-child(odd) td {
	background-color: rgb(155, 155, 155);
}
table th {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px;
}
table th.firefox-tab {
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Firefox_logo.png);
}
table th.chrome-tab {
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Chrome_Logo.png);
}
table th.opera-tab {
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Opera_Logo.png);
}
table th.safari-tab {
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Safari_Logo.png);
}
table th.edge-tab {
	background-image: url(/home/ponurakk/HTML/Script_cmd_web.v2/files/images/Edge_Logo.png);
}

/*			table-end			*/

/*			Tip			*/

.tip::before {
	content: "Tip: ";
	font-weight: bold;
}
.tag-highlight {
	color: orangered;
	background-color: rgb(197, 197, 197);
}

/*			Tip			*/
